hr {
    margin: 0;
}

.rodape {
    padding: 1.06em 1.5em;
    background-color: var(--cor-branco);
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3em 0;
    }

    .rodape__nome-empresa {
        font-size: 1.56em;
    }

    .rodape__lista {
        display: block;
    }

    .rodape__lista__titulo {
        margin-bottom: 1.56em;
        color: var(--cor-cinza-claro);
        font-size: 0.87em;
        text-transform: uppercase;
    }

    .rodape__lista__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        gap: 0.5em;
    }

    .rodape__lista__item__link {
        text-decoration: none;
        font-size: 0.87em;
        color: var(--cor-cinza-escuro);
    }

    .rodape__lista__item__link:hover {
        color: var(--cor-cinza-claro);
    }

}

@media screen and (min-width: 1728px) {

    .rodape {
        padding: 5em 0;
    }

    .rodape__lista {
        border-left: 1px solid var(--cor-cinza-claro);
        padding-left: 1em;
    }

}